.container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: wrap;
  flex-direction: column;
  align-items: center;
  gap:20px;
  margin-top:50px;
  justify-content:space-between;
  align-content:space-around;

}

.searchHeader{
  display:flex;
  flex-direction:row;
  gap:10px;
}

.searchInput{
  min-width:300px;
}

.results{
  background-color: #FFF;
  min-width:600px;
  min-height:200px;
  border-radius:8px;
  color: #0F2832;
  padding:15px 25px;
}

.container input {
  border: 1px solid #FFF;
  background-color: white;
  padding: 8px 16px;
  background-color: #FFF;
  border-radius:8px;
  border-color: #D9DBE1;
  color: #0F2832;
  width: 100%;
  display: block;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  transition: background-color 0.2s, box-shadow 0.2s;;
  caret-color: #4ED9B2;

}

.container input:hover,
.container input:focus,
.container input:active,
.container input:focus-visible {
  border-color: #4ED9B2;
  outline: #4ED9B2;
}

.container input:disabled {
  pointer-events: none;
  border: 1px solid #D9DBE1;
  color:#A2A3A8;
} 

.container button{
  align-items: center;
  border-radius: 8px;
  color: #0F2832;
  cursor: pointer;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  min-height: 40px;
  min-width: 80px;
  padding: 6px 20px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.5s;
  background-color: #EFB700;

}

.container button:hover,
.container button:focus,
.container button:active{
  background-color: #FDDC7B;
}
